<script setup lang="ts">
import { useStorage } from "@vueuse/core";
import { ref, computed } from "vue";

const error = ref("");
const search = ref("");
const newItem = ref("");
const lastItem = ref("");
const items = useStorage("items", ["toto", "tata", "titi", "tutu"]);

const filteredItems = computed(() =>
  items.value.filter((item: string) => item.includes(search.value))
);

function addItem() {
  if (newItem.value === "") {
    displayError("Votre item ne peux être vide");
    return;
  }

  if (items.value.includes(newItem.value)) {
    displayError("Votre item existe déjà");
    return;
  }


  items.value.push(newItem.value);
  lastItem.value = newItem.value;
  search.value = "";
  newItem.value = "";
}


function removeItem(index: number) {
  items.value.splice(index, 1);
}

function displayError(errorMessage: string) {
  error.value = errorMessage;
}

function hideError() {
  error.value = "";
}
</script>

<template>
  <div class="w-screen h-screen flex justify-center items-center">
    <div
      class="border border-gray rounded-3 shadow shadow-gray h-1/2 w-1/2 pa-4"
    >
      <input
        v-model="search"
        placeholder="Recherche"
        class="border-2 border-purple-900 pa-2 text-center rounded w-full mb-2"
      />
      <ul class="py-2 px-4 divide-y max-h-8/10 overflow-y-auto">
        <li
          v-for="(item, index) in filteredItems"
          :key="index"
          class="pa-1 flex justify-between items-center"
          :class="{ 'bg-blue': lastItem === item }"
        >
          {{ item }}
          <button class="text-red" @click="removeItem(index)">x</button>
        </li>
      </ul>

      <div class="">
        <input
          v-model="newItem"
          @keypress.enter="addItem"
          @input="hideError"
          placeholder="Ajouter un item"
          class="border-b w-full pa-2"
        />
        <p v-if="error" class="error">{{ error }}</p>
      </div>
    </div>
  </div>
</template>

<style scoped>
.error {
  color: red;
  font-weight: 800;
}
</style>
