<template>
  <nav class="w-full bg-gray-200 px-4 py-2 flex gap-4 uppercase">
    <RouterLink to="/">TODO</RouterLink>
    <RouterLink to="/auth">Login</RouterLink>
  </nav>

  <RouterView />

  <footer></footer>
</template>
