<script setup lang="ts">
// import { ref } from 'vue';

defineProps({
  errorMessage: String,
});
</script>

<template>
  <div class="h-1/2 w-1/3 rounded-xl border overflow-hidden">
    <div v-if="errorMessage !== ''" class="bg-red pa-2 color-white">
      {{ errorMessage }}
    </div>
    <div class="pa-4">
      <slot></slot>

    </div>
  </div>
</template>
