<script setup lang="ts">
import { ref } from "vue";
import { useRouter } from "vue-router";
import AuthCard from "./AuthCard.vue";

interface UserInfo {
  username: string;
  password: string;
  verifPassword: string;
}

const router = useRouter()
const user = ref<UserInfo>({
  username: "",
  password: "",
  verifPassword: "",
});

const errorMessage = ref("");

function onUserValidation() {
  if (!user.value.username || !user.value.password || !user.value.verifPassword) {
    errorMessage.value = "Il manque une information";
    return;
  }

  if (user.value.password !== user.value.verifPassword) {
    errorMessage.value = "Les mots de passe ne match pas";
    return;
  }

  router.push('/')
}
</script>

<template>
  <AuthCard class="p flex flex-col" :error-message="errorMessage">
    <label>Username</label>
    <input
      v-model="user.username"
      name="username"
      class="border pa-2 rounded"
    />
    <label>Password</label>
    <input
      v-model="user.password"
      name="password"
      type="password"
      class="border pa-2 rounded"
    />
    <label>passowrd verif</label>
    <input
      v-model="user.verifPassword"
      name="verifPassword"
      type="password"
      class="border pa-2 rounded"
    />

    <button class="rounded border-1 mt-5" @click="onUserValidation">
      Valider
    </button>
  </AuthCard>
</template>
